body {
    font-family: 'Sora', sans-serif;
    background-color: #E3E3E34F;
    ;
}

.fs14 {
    font-size: 14px;
}
.forms1{
    width:1360px!important;
}
.chck{
    border: 10vmin solid;
    border-radius: 5px;
    border-image: linear-gradient(to right, green, yellow) 1;
}
.fs16 {
    font-size: 16px;
}

.fs18 {
    font-size: 18px;
}

.fs20 {
    font-size: 20px;
}
.fs24{
    font-size: 24px;
}

.fs32 {
    font-size: 32px;
}

.fs36 {
    font-size: 36px;
}

.fs60 {
    font-size: 60px;
}

.bg-white {
    background-color: white;
}

a {
    color: inherit;
    text-decoration: none;
    cursor: pointer;
    font-size: inherit;
}

.pclr {
    color: #FF7081;
}

a:hover {
    color: inherit;
}

ul {
    list-style: none;
}

.clr {
    color: #3C3C3C !important;
}

.page-wrapper {
    overflow: hidden;
}

.navbar {
    width: 70%;
    margin: 0 auto;
}

.navbar .logo_box {
    width: 20%;
}

.logo img {
    width: 135px;
    height: 58px;
}
.shop_section1{
    background: linear-gradient(270deg, #ED7C58 0%, #FFC266 98.19%);
    display: flex;
flex-direction: row;
justify-content: center;
align-items: center;

position: absolute;
width: 1440px;
height: 132px;


}

.slct{
    width: 236px;
height: 48px;

/* Neutral/White */

border: 3px solid #FFFFFF;
border-radius: 999px;
background: transparent;
color: white;
}
.slct option{
    color: white;
    background-color: #FFC266;
    border-radius: 999px;
}


.faq{
    background-color: transparent;
    border: 1px solid #9fa4a8;
    border-radius: 10px;
    margin: 20px 0;
    padding: 30px;
    position: relative;
    overflow: hidden;
    transition: 0.3s ease;
}

.faq.active {
    background-color: #fff;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1), 0 3px 
    6px rgba(0, 0, 0, 0.1);
}
.faq.active::before{
    color: #3498db;
    top: -10px;
    left: -30px;
    transform: rotateY(180deg);
}

.faq-title{
    margin: 0 35px 0 0;
}

.faq-text{
    display: none;
    margin: 30px 0 0;
}

.faq.active .faq-text{
    display: block;
}

.faq-toggle{
    background-color: transparent;
    border-radius: 50%;
    border: 0;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    padding: 0;
    position: absolute;
    top: 30px;
    right: 30px;
    width: 30px;
    height: 30px;
}

.faq-toggle:focus{
    outline: none;
}
.gray{
    color:#808697;

}
.pill{
    float: right;
background: #FDFDFD;
border: 1px solid #E8EAED;
border-radius: 200px;
width: 140px;
height: 56px;
}

.faq-toggle .fa-chevron-up {
    display: none;
}

.faq.active .faq-toggle .fa-chevron-up {
    display: block;
    color: white;
}

.faq.active .faq-toggle .fa-chevron-down{
    display: none;
}

.faq.active .faq-toggle {
    background-color: #9fa4a8;
}
.primary_btn {
    position: relative;
    width: 233px;
    height: 48px;
    justify-content: center;
    background: radial-gradient(86.8% 325.5% at 8% 0%, #FFB589 0%, #FF7081 100%)/* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */
    ;
    box-shadow: 0px 5px 16px rgba(212, 70, 241, 0.35);
    border-radius: 999px;
    color: white;
}
.secondary_btn {
    position: relative;
    width: 233px;
    height: 48px;
    justify-content: center;
    border: solid 3px transparent;
  background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)), linear-gradient(101deg, #FFAD88  , #FF7081);
  background-origin: border-box;
  background-clip: content-box, border-box;
  box-shadow: 2px 1000px 1px #fff inset;
  border-radius: 999px;
    color:  #FF7081;;
}
.section_dashboard{
    width: 77%;
margin: 0 auto;
}
.text_color{
    background: radial-gradient(86.8% 325.5% at 8% 0%, #FFB589 0%, #FF7081 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
background-clip: text;
text-fill-color: transparent;
}
.cart_part{
    display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 40px 0px;
gap: 21px;

width: 420px;
height: 698px;

background: linear-gradient(270deg, rgba(237, 124, 88, 0.4) 0%, rgba(255, 194, 102, 0.4) 98.19%);
border-radius: 20px;

}
header {
    position: relative;
    /* width: 1933px; */
    height: 252px;
    background-size: contain;
    background-position: center center;
    margin-top: 110px;
    background-repeat: no-repeat;
}

header .head-box {
    position: relative;
}

header .head-box h2 {
    position: relative;
    font-family: 'Sora';
    font-style: normal;
    line-height: 76px;
    color: #FFFFFF;
    /* Primary 2 */
    display: inline-block;
}


/*  */

.content {
    position: relative;
    top: 0;
    width: 100%;
    /* height: 600px; */
}
.contact_section{
    width: 100%;
    height: 661px;
    position: relative;
}
.forms {
    /* width: 42.5%; */
    width: 721px;
    position: relative;
}

.checkbox {
    width: 22px;
    height: 22px;
    left: 0px;
    top: 473px;
    /* Neutral/White */
    background: #FFFFFF;
    /* Neutral/700 */
    border: 1px solid #656565;
    border-radius: 43px;
}

.text-clr {
    color: #FF7081;
}

.forms form input,
.forms form textarea {
    outline: none;
    background-color: #F5F5F5;
    border: 1px solid #9B9B9B;
    height: 56px;
    border-radius: 20px;
}

.forms form textarea {
    height: 144px;
}

.dropdown-toggle::after {
    display: none !important;
}

.forms form input {
    outline: none;
    background-color: #F5F5F5;
    border: 1px solid #9B9B9B;
    height: 56px;
    border-radius: 20px;
}

.forms form input:focus {
    background-color: #F5F5F5;
    border: 1px solid #9B9B9B;
    color: white;
}

.text_main {
    font-family: 'Sora';
    font-style: normal;
    font-weight: 700;
    color: #0E0E0E;
    opacity: 0.5;
}

.text_main1 {
    font-family: 'Sora';
    font-style: normal;
    font-weight: 700;
    background: linear-gradient(270deg, #ED7C58 0%, #FFC266 98.19%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}

.line {
    padding-bottom: 10px;
    border-bottom-style: solid;
    border-bottom-width: 3.1px;
    border-color: #FFC266;
    width: fit-content;
}

.img-box {
    background-size: cover;
    background-position: -200px center;
}

footer {
    position: relative;
    width: 100%;
    height: 420px;
    background: url(../media/backgrounds/footer.png) no-repeat;
    background-size: cover;
    background-position: center center;
    background-position: center center;
}

footer .data1 {
    height: 420px;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer .data {
    display: flex;
    justify-content: center;
    position: relative;
    /* bottom: 100px; */
    width: 60%;
    gap: 150px;
}

footer h4 {
    margin-bottom: 1.5rem;
}


/* The switch - the box around the slider */


/* Hide default HTML checkbox */


/* The slider */


/* Rounded sliders */

.d-nav {
    display: flex;
}

.navbar .nav-item:hover,
.navbar li:hover {
    background-color: radial-gradient(86.8% 325.5% at 8% 0%, #FFB589 0%, #FF7081 100%)/* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */
    ;
}

.m-nav {
    display: none !important;
}

.m-nav .navbar .nav-item {
    height: 48px;
    display: flex;
    align-items: center;
}

.m-nav .dropdown {
    display: inline-block !important;
    line-height: 35px;
}

.m-nav .dropdown li {
    display: inline-block;
}


/* MobileScreen */

@media (max-width: 350px) and (min-width: 50px) {
    .forms {
        width: 100%;
        padding: 40px 25px !important;
    }
    .content {
        width: 100%;
        /* margin: 130px auto 50px auto; */
        padding: 20px 0;
    }
    .navbar {
        width: 100%;
        margin: 0 auto;
    }
    .d-nav {
        display: none !important;
    }
    .m-nav {
        display: flex !important;
    }
    .logo_box {
        width: auto !important;
    }
    .b1 {
        order: 1;
    }
    .b2 {
        order: 0;
    }
    .img-box {
        height: 309px;
        background-position: -110px center;
    }
    header.login {
        background: linear-gradient(343.48deg, #ED7C58 -3.51%, #FFC266 92.11%);
        /* background-image: url(../media/backgrounds/login_mobile.png) !important; */
    }
    header .head-box {
        padding: 0 !important;
        /* margin-top: 515px; */
    }
    .head-box h2 {
        font-size: 20px !important;
    }
    header.px-5 {
        padding-right: 0 !important;
        padding-left: 0 !important;
    }
    header {
        padding: 0 !important;
        height: 252px !important;
        padding-left: 0 !important;
        padding-right: 0 !important;
        background-position: center center !important;
        background-size: cover !important;
        background-repeat: no-repeat !important;
    }
    footer {
        height: 1156px;
        background: url(../media/backgrounds/Footer_mobile.png) !important;
        background-position: center center !important;
        background-size: cover !important;
    }
    footer h4 {
        margin-bottom: 5px !important;
    }
    footer .data {
        flex-wrap: wrap;
        gap: 10px;
        flex-direction: column;
        width: 100%;
        padding: 0 30px;
        bottom: 142px;
    }
    footer .data li {
        padding: 0 20px;
    }
    footer .Links {
        order: 0;
        flex-wrap: wrap;
    }
    footer .Links ul {
        flex-direction: column;
        gap: 2px !important;
        margin-bottom: 0 !important;
    }
    footer .Links ul li {
        gap: 2px !important;
    }
    footer .comdetails {
        order: 2;
    }
    footer .footer-logo {
        order: 3;
        width: 50%;
    }
    footer .Support {
        order: 1;
    }
}


/* MobileScreen */

@media (max-width: 600px) and (min-width: 350px) {
    .forms {
        width: 100%;
        padding: 40px 25px !important;
    }
    .content {
        width: 100%;
        /* margin: 130px auto 50px auto; */
    }
    .navbar {
        width: 100%;
        margin: 0 auto;
    }
    .d-nav {
        display: none !important;
    }
    .m-nav {
        display: flex !important;
    }
    .logo_box {
        width: auto !important;
    }
    .b1 {
        order: 1;
    }
    .b2 {
        order: 0;
    }
    .img-box {
        height: 309px;
        background-position: -110px center;
    }
    header.login {
        background: linear-gradient(343.48deg, #ED7C58 -3.51%, #FFC266 92.11%);
        /* background-image: url(../media/backgrounds/login_mobile.png) !important; */
    }
    header .head-box {
        padding: 0 !important;
        /* margin-top: 515px; */
    }
    .head-box h2 {
        font-size: 20px !important;
    }
    header.px-5 {
        padding-right: 0 !important;
        padding-left: 0 !important;
    }
    header {
        margin-top: 76px !important;
        height: 252px !important;
        padding: 0 !important;
        padding-left: 0 !important;
        padding-right: 0 !important;
        background-position: center center !important;
        background-size: cover !important;
        background-repeat: no-repeat !important;
    }
    footer {
        height: 1156px;
        background: url(../media/backgrounds/Footer_mobile.png) !important;
        background-position: center center !important;
        background-size: cover !important;
    }
    footer h4 {
        margin-bottom: 5px !important;
    }
    footer .data {
        flex-wrap: wrap;
        gap: 10px;
        flex-direction: column;
        width: 100%;
        padding: 0 30px;
        bottom: 142px;
    }
    footer .data li {
        padding: 0 20px;
    }
    footer .Links {
        order: 0;
        flex-wrap: wrap;
    }
    footer .Links ul {
        flex-direction: column;
        gap: 2px !important;
        margin-bottom: 0 !important;
    }
    footer .Links ul li {
        gap: 2px !important;
    }
    footer .comdetails {
        order: 2;
    }
    footer .footer-logo {
        order: 3;
        width: 50%;
    }
    footer .Support {
        order: 1;
    }
}


/* TabScreen */

@media (max-width: 800px) and (min-width: 600px) {
    .navbar {
        width: 100%;
        margin: 0 auto;
    }
    .d-nav {
        display: none !important;
    }
    .m-nav {
        display: flex !important;
    }
    .logo_box {
        width: auto !important;
    }
    .b1 {
        order: 1;
    }
    .b2 {
        order: 0;
    }
    .img-box {
        height: 309px;
        background-position: -110px center;
    }
    header.login {
        background: linear-gradient(343.48deg, #ED7C58 -3.51%, #FFC266 92.11%);
        /* background-image: url(../media/backgrounds/login_mobile.png) !important; */
    }
    header .head-box {
        padding: 0 !important;
        /* margin-top: 515px; */
    }
    .head-box h2 {
        font-size: 20px !important;
    }
    header.px-5 {
        padding-right: 0 !important;
        padding-left: 0 !important;
    }
    header {
        margin-top: 76px !important;
        padding: 0 !important;
        height: 252px !important;
        padding-left: 0 !important;
        padding-right: 0 !important;
        background-position: center center !important;
        background-size: cover !important;
        background-repeat: no-repeat !important;
    }
    footer {
        height: 1156px;
        background: url(../media/backgrounds/Footer_mobile.png) !important;
        background-position: center center !important;
        background-size: cover !important;
    }
    footer h4 {
        margin-bottom: 5px !important;
    }
    footer .data {
        flex-wrap: wrap;
        gap: 10px;
        flex-direction: column;
        width: 100%;
        padding: 0 30px;
        bottom: 142px;
    }
    footer .data li {
        padding: 0 20px;
    }
    footer .Links {
        order: 0;
        flex-wrap: wrap;
    }
    footer .Links ul {
        flex-direction: column;
        gap: 2px !important;
        margin-bottom: 0 !important;
    }
    footer .Links ul li {
        gap: 2px !important;
    }
    footer .comdetails {
        order: 2;
    }
    footer .footer-logo {
        order: 3;
        width: 50%;
    }
    footer .Support {
        order: 1;
    }
}


/* TabScreen */

@media (max-width: 1000px) and (min-width: 800px) {
    .navbar {
        width: 100%;
        margin: 0 auto;
    }
    .d-nav {
        display: none !important;
    }
    .m-nav {
        display: flex !important;
    }
    .logo_box {
        width: auto !important;
    }
    .b1 {
        order: 1;
    }
    .b2 {
        order: 0;
    }
    .img-box {
        height: 309px;
        background-position: -110px center;
    }
    header.login {
        background: linear-gradient(343.48deg, #ED7C58 -3.51%, #FFC266 92.11%);
        /* background-image: url(../media/backgrounds/login_mobile.png) !important; */
    }
    header .head-box {
        padding: 0 !important;
        /* margin-top: 515px; */
    }
    header.px-5 {
        padding-right: 0 !important;
        padding-left: 0 !important;
    }
    header {
        margin-top: 76px !important;
        padding: 0 !important;
        height: 876px !important;
        padding-left: 0 !important;
        padding-right: 0 !important;
        height: 976px !important;
        background-position: center center !important;
        background-size: cover !important;
        background-repeat: no-repeat !important;
    }
    footer {
        height: 1156px;
        background: url(../media/backgrounds/Footer_mobile.png) !important;
        background-position: center center !important;
        background-size: cover !important;
    }
    footer h4 {
        margin-bottom: 5px !important;
    }
    footer .data {
        flex-wrap: wrap;
        gap: 10px;
        flex-direction: column;
        width: 100%;
        padding: 0 30px;
        bottom: 142px;
    }
    footer .data li {
        padding: 0 20px;
    }
    footer .Links {
        order: 0;
        flex-wrap: wrap;
    }
    footer .Links ul {
        flex-direction: column;
        gap: 2px !important;
        margin-bottom: 0 !important;
    }
    footer .Links ul li {
        gap: 2px !important;
    }
    footer .comdetails {
        order: 2;
    }
    footer .footer-logo {
        order: 3;
        width: 50%;
    }
    footer .Support {
        order: 1;
    }
}


/* 1200 screen 120% */

@media (max-width: 1400px) and (min-width: 1000px) {
    .navbar {
        width: 100%;
        margin: 0 auto;
    }
    footer .data {
        width: 80%;
    }
}


/* 1400 screen 110% */

@media (max-width: 1500px) and (min-width: 1400px) {
    .navbar {
        width: 90%;
        margin: 20px auto;
    }
    footer .data {
        width: 75%;
    }
}


/* Normal screen 1500 100% */

@media (max-width: 1700px) and (min-width: 1500px) {
    .navbar {
        width: 85%;
        margin: 0 auto;
    }
    footer .data {
        width: 70%;
    }
}


/* 1920 screen 80% */